.dropdown {
    position: relative;
    $r: &;

    &:hover {
        #{$r}__content {
            display: block;
        }
    }

    &__content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

        &:hover{
            display: block;
        }
    }

    &__link {
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
            background-color: rgb(223, 223, 223);
        }
    }
}